/.git
/docs/
/lib/
/bin/
/.shards/
/data/
/crankypants
/crankypants.dwarf

# Ignore Npm artefacts
/node_modules
/dist
/yarn-*.log

# We're using Kemal's public/ directory for Webpack output only
/public

# etc.
Dockerfile
.DS_Store
.gitignore
README.md
*.sock
