kbd {
  display: inline-block;
  padding: 0 0.25em;
  min-width: 1.75em;
  text-align: center;
  font: inherit;
  font-size: 0.85em;
  color: #555;
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-radius: 0.5em;
}
