---
version: 2
jobs:
  run_tests:
    docker:
      - image: crystallang/crystal:0.25.0
    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: apt-get update && apt-get install -y libsqlite3-dev
      - restore_cache:
          keys:
            - crankypants-shards-{{ checksum "shard.lock" }}
            - crankypants-shards-
      - run:
          name: Install Shards
          command: shards install
      - save_cache:
          key: crankypants-shards-{{ checksum "shard.lock" }}
          paths:
            - lib
      - run:
          name: Run Tests
          command: crystal spec spec/ crappy/spec/

  push_docker_image:
    machine: true
    steps:
      - checkout

      # Build a new Docker image:
      - run:
          name: Build Docker Image
          command: docker build -t crankypants-build .

      # Run our E2E tests via Docker-Compose:
      - run:
          name: Run E2E Tests
          command: |
            docker-compose -f docker-compose.tests.yml run --rm tests

      # We're good! Push the previously built image to Docker Hub:
      - deploy:
          name: Push Docker Image to Docker Hub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker tag crankypants-build hmans/crankypants:latest
              docker push hmans/crankypants:latest
            fi

workflows:
  version: 2
  build-and-push-latest:
    jobs:
      - run_tests
      - push_docker_image:
          requires: [run_tests]
