---
version: 2
jobs:
  run_tests:
    docker:
      - image: crystallang/crystal:0.24.2
    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: apt-get update && apt-get install -y libsqlite3-dev
      - restore_cache:
          keys:
            - crankypants-shards-{{ checksum "shard.lock" }}
            - crankypants-shards-
      - run:
          name: Install Shards
          command: shards install
      - save_cache:
          key: crankypants-shards-{{ checksum "shard.lock" }}
          paths:
            - lib
      - run:
          name: Run Tests
          command: crystal spec

  push_docker_image:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - restore_cache:
          keys:
            - crankypants-docker-push-node-modules-{{ checksum "yarn.lock" }}
            - crankypants-docker-push-node-modules-
      - run: yarn install
      - save_cache:
          key: crankypants-docker-push-node-modules-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: yarn run web:build:release
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker build -t hmans/crankypants:$CIRCLE_BRANCH .
      - run: docker push hmans/crankypants:$CIRCLE_BRANCH

workflows:
  version: 2
  build-and-push-latest:
    jobs:
      - run_tests
      - push_docker_image:
          requires: [run_tests]
          filters:
            branches:
              only: master
