@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import "../shared/mixins";
@import "../shared/box-sizing";

$color: #444;
$color-light: #bbb;
$color-link: rgb(73, 99, 193);

body {
  background-color: #f2f2f2;
  color: $color;
  font: 15px/1.5 "Open Sans", Helvetica, sans-serif;
}

.container {
  @include container($width: 800px);
}

/* basic formatting */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
  margin: 1em 0;
}

a {
  color: $color-link;
}

/* forms */

input[type="text"],
textarea {
  font: inherit;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  &::placeholder {
    color: #ccc;
  }
}

input#post_title {
  font-weight: bold;
  margin-bottom: 1em;
}

textarea#post_body {
  height: 8em;
}

/* buttons */

.button,
button,
input[type="submit"] {
  display: inline-block;
  font: inherit;
  border: none;
  border-radius: 0.25rem;
  background-color: $color-link;
  color: rgba(255, 255, 255, 0.95);
  padding: 0 1em;
  padding-bottom: 1px; /* looks better :b */
  line-height: 2;
  cursor: pointer;
}

/* main navigation */

nav[role="main"] {
  > .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  background-color: rgb(245, 196, 95);
  a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    @extend %inline-list;
  }
}

/* posts */

article.post {
  @extend %remove-inner-margins;
  margin: 1em 0;

  > .container {
    background-color: white;
  }

  .post-body {
    @extend %remove-inner-margins;

    img {
      max-width: 100%;
      border-radius: 0.25rem;
    }
  }

  .post-meta {
    color: $color-light;
  }

  footer {
    margin-top: 1rem;

    > * {
      margin-right: 0.5em;
    }
  }
}

section.new_post {
  margin: 1em 0;

  > .container {
    background-color: white;
  }
}

/* Block Quotes */

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #eee;
  color: #888;
}

/* Code snippets */

code {
  display: inline-block;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

/* etc. */
@import "../shared/keys";
