@import "../shared/mixins";

$color-background: #fff;
$color-text: #555;
$color-link: rgb(94, 142, 186);

* {
  box-sizing: inherit;
}
html,
body {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $color-text;
  font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, sans-serif;
}

.container {
  @include container($width: 700px);

  padding-left: 3em;

  @include on-desktop {
    padding-left: 6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-weight: bold;
}

h1.site-title {
  font-size: 200%;
  color: #ccc;
  margin-bottom: 3rem;
}

/* Links */

a {
  color: $color-link;
}

/* Site Title */

h1.site-title {
  a {
    @extend %a.invisible;
  }
}

/* Footer */

footer[role="main"] {
  margin-top: 5rem;
  color: #ddd;

  a {
    @extend %a.invisible;
  }
}

/* POSTS */

$color-sideline: #f2f2f2;
$color-meta: #ccc;

h2.day-header {
  color: rgb(209, 100, 190);
}

section.posts {
  border-left: 1px solid $color-sideline;
  padding-left: 1.5rem;
  margin-left: -1.5rem;
  margin-bottom: 3rem;
}

article.post {
  margin: 2em 0;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    margin-left: -1.5rem - 0.75rem;

    width: 1rem;
    height: 1rem;
    background-color: $color-sideline;
    border-radius: 50%;
    border: 0.25em solid white;
  }
}

.post-meta {
  @include on-desktop {
    position: absolute;
    margin-left: -4.5rem;
  }

  color: $color-meta;
  font-size: 12px;
  padding-top: 3px;

  a {
    @extend %a.invisible;
  }
}

.post-body {
  img {
    max-width: 100%;
    border-radius: 0.25rem;
  }
}

/* Code Blocks */

code {
  font-family: "Source Code Pro", "Lucida Console", Monaco, monospace;
  font-size: 90%;
  border-radius: 5px;
}

/* Block Quotes */

blockquote {
  @extend %remove-inner-margins;

  margin-left: 0;
  margin-right: 0;
  padding: 1em 1.25em;

  border-left: 1em solid #f2f2f2;
  border-right: 1em solid #f2f2f2;
  border-radius: 30px;

  color: #888;
  background-color: #fcfcfc;
}

/* etc. */
@import "../shared/keys";
